body {
  background-color: lightsteelblue;
}

.headDiv {
  height: 6em;
  border: solid black 2px;
  background-color: darkslategray;
  color: whitesmoke;
}

.tableDiv {
  background-color: whitesmoke;
}

table {
  border: solid black 2px;
  margin-top: 10px;
  padding: 3px;
}

.tableColumnHead { 
  background-color: darkslategray;
  border: solid black 2px;
  width: 175px;
  height: 2em;
  color:white;
}

tr {
  background-color: lightslategray;
  height: 1.35em;
  align-content: center;
}

tr:nth-child(2) {
  background-color: lightgray;
}

tfoot {
  height: 2em;
  width: 100%;
}

.expenditureDiv {
  margin-top: 10px;
  background-color: darkslategray;
  border: solid black 2px;
  color: white;
}

.redBackground {
  background-color: red;
}